@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  display: flex;
  background: rgba(229, 84, 115, 0.1);
  width: 1920px;
  height: 850px;
  position: relative;
}
.hero-content .hero-title {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
  position: absolute;
  width: 708px;
  height: 288px;
  left: 240px;
  right: -240px;
  top: 197px;
  bottom: 21px;
}
.hero-content p {
  position: absolute;
  width: 634px;
  height: 90px;
  left: 240px;
  right: -166px;
  top: 517px;
  bottom: -101px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.hero-content .btn {
  position: absolute;
  left: 240px;
  right: -166px;
  top: 640px;
  bottom: -101px;
  width: 177px;
  height: 64px;
  border: none;
  border-radius: 8px;
  background: rgb(229, 84, 115);
}
.hero-image {
  position: relative;
}
.hero-image img {
  position: absolute;
  width: 635px;
  height: 800px;
  left: 1045px;
  right: 240px;
  top: 50px;
  bottom: 4017px;
}
